name: Deploy to GitHub Pages

on:
  pull_request:
    branches:
      - master

jobs:
  github-pages:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: helaili/jekyll-action@2.0.5
        with: # 이 줄이 반드시 있어야 합니다!
          build_only: true
